<key>NSPhotoLibraryUsageDescription</key>
<string>We need your permission to access your photo library</string>
<key>NSCameraUsageDescription</key>
<string>We need your permission to use your camera</string>
<key>NSPhotoLibraryAddUsageDescription</key>
<string>We need your permission to save photos to your photo library</string>